<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>投票アプリ</title>
  </head>
  <body>
    <div class="container">
      <br>
      <nav>
	<div class="nav-wrapper teal">
	  <div class="col s12">
	    <a href="#!" class="breadcrumb teal-text text-lighten-5">Login</a>
	    <a href="#!" class="breadcrumb teal-text text-lighten-5">Select</a>
	    <a href="#!" class="breadcrumb white-text">Sort</a>
<!--	    <a href="#!" class="breadcrumb teal-text text-lighten-5">Confirm</a>
-->
	    <a href="#!" class="breadcrumb teal-text text-lighten-5">Done</a>
	  </div>
	</div>
      </nav>
                  
    <h1>Sort</h1>

    
<!--
	  <draggable :list="items" class="dragArea"
		     :options="{animation: 100, forceFallback:true, handle:'.handle'}">
-->

<div id="sort">
	<ul class="collection" >
	  <draggable :list="items"
		     :options="{animation: 100, handle:'.handle'}">
	    <li class="collection-item avatar" draggable="ture"
		v-for="item, index in items" :key="item.no">
	      <img :src="item.img" class="circle">
	      <font size="6"><b>{{item.name}}</b></font>
	      <a class="secondary-content handle">
		<i class="small material-icons" v-on:click="deleteItem(item, index)">delete</i>

		<i class="small material-icons">dehaze</i></a>
	    </li>
	  </draggable>
	</ul>

    <button class="btn waves-effect waves-light" type="submit" v-on:click="test">送信
      <i class="material-icons right">send</i>
    </button>
      <p>{{ message }}</p>

<!--
<button data-target="modal-demo" class="btn modal-trigger">Modal</button>  

<div id="modal-demo" class="modal">  
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>  
-->

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>投票のやり方</h4>
    <p><i class="tiny material-icons">dehaze</i>マークをドラッグすると選手を並べ替えることができます。
      上手だと思う選手が上位にくるように順位付けをしてください。</br>
      また、名前をクリックするとプロフィールが表示されます。
      プロフィールを見ても知らない選手がいる場合は<i class="tiny material-icons">delete</i>マークをクリックしてください。</a>
</p>
  </div>
  <div class="modal-footer">
    <a v-on:click="deleteDummy" class=" modal-action modal-close waves-effect waves-green btn">完了</a>
  </div>
</div>  

</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
                      
<!--    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="js/materialize.min.js"></script>
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
    <script src="js/volley.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>

  </body>
  </div>
</html>
