<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>投票アプリ</title>
  </head>
  <body>
    <div class="container">
      <br>
      <nav>
	<div class="nav-wrapper teal">
	  <div class="col s12">
	    <a href="#!" class="breadcrumb teal-text text-lighten-5">Login</a>
	    <a href="#!" class="breadcrumb teal-text text-lighten-5">Select</a>
	    <a href="#!" class="breadcrumb white-text">Sort</a>
<!--	    <a href="#!" class="breadcrumb teal-text text-lighten-5">Confirm</a>
-->
	    <a href="#!" class="breadcrumb teal-text text-lighten-5">Done</a>
	  </div>
	</div>
      </nav>
                  
    <h1>Sort</h1>
<!--
    <div id="sort">
      <input v-model="num"></input>
      <div v-text="messag1"></div>
      <div v-text="messag2"></div>
      <div v-text="messag3"></div>	    
      <button v-on:click="done">これで決定</button>
      <div v-text="message"></div>
    </div>
-->


<div id="sort">
	<ul class="collection drag" >
	  <draggable :list="items" class="dragArea"
		     :options="{animation: 100, forceFallback:true, handle:'.handle'}">
	    <li class="collection-item avatar" draggable="ture"
		v-for="item, index in items" :key="item.no">
	      <img :src="item.img" class="circle">
	      <font size="6"><b>{{item.name}}</b></font>
	      <a class="secondary-content handle"><i v-on:click="c += 1" class="small material-icons">dehaze</i></a>
	      <p><span v-on:click="deleteItem(item, index)">delete</span></p>
	    </li>
	  </draggable>
	</ul>
</div>

    <div class="col s2 offset-s10">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    </div>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
    <script src="js/volley.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>

  </body>
  </div>
</html>
